# ==================== CORE DEPENDENCIES ====================
pyttsx3
pyaudio
python-dotenv
# ------------------------------------------------------------
# ==================== SPEECH RECOGNITION ====================
# FOR POCKETSPHINX RECOGNITION:
pocketsphinx
# FOR WHITSPER RECOGNITION:
openai-whisper
# (If you want cuda, follow instruction in https://pytorch.org/get-started/locally/)
torch
torchvision
torchaudio
# ------------------------------------------------------------
# ==================== TEXT TO SPEECH ====================
# For AI based TTS
TTS
# ------------------------------------------------------------
# ==================== CHATBOT ====================
# ChatGPT dependency
revChatGPT